/*-----------------------Typefaces-----*/

body {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: "onum";
}

h1, h2, h3, h4, h5, h6 {
    font-family: fieldwork, sans-serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    color: #872657;
}
/*-----------------------NavBar-----*/

.navbar {
        font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}

.navbar-brand {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    color: #872657;
}

.nav-link {
    color: #872657; 
    text-transform: uppercase;
    
}

.nav-item {
    padding-left: 10px;
}



/*------------Colours---------*/





/*-----------Sections---------*/
.bg-warning {
    font-family: fieldwork, sans-serif;
    font-weight: 600;
    font-style: bold;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.bg-warning a {
    background-color: black;
    color: #ffc107;
    padding: 0px 5px 0px 5px;
}

.about {
    background-color: whitesmoke;
    height: 75vh;
}

.history {
    background-color: silver;
    height: 100vh;
}

.information {
    background-color: whitesmoke;
    height: 200vh;
}

.breadcrumb {
    height: 10vh;
}
.breadcrumb-info {
    background-color: #ffffff;
    color: #872657;
}

footer {
    background-color: #872658;
    color: whitesmoke;
}

footer h5 {
    color: whitesmoke;
}

footer .nav-link {
    color: whitesmoke;
}

footer .fab {
    color: whitesmoke;
}