/*-----------------------Typefaces-----*/

body {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: "onum";
}

h1, h2, h3, h4, h5, h6 {
    font-family: fieldwork, sans-serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    color: #872657;
}
/*-----------------------NavBar-----*/

.navbar {
        font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}

.navbar-brand {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 300;
    font-style: normal;
	font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    color: #872657;
}

.nav-link {
    color: #872657; 
    text-transform: uppercase;
    
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; 
}

.bg-info {
    border-radius: 15px;
    text-align: center;
    padding: 5px; 
}

/*------------Colours---------*/

.fa-heart {
    color: red;
}



/*-----------Sections---------*/
.covid-19-banner {
    margin-top: 100px; 
    font-family: fieldwork, sans-serif;
    font-weight: 600;
    font-style: bold;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;  
}

.covid-19-banner a {
    background-color: black;
    color: #ffc107;
    padding: 0px 5px 0px 5px;
    border-radius: 5px; 
}

.about {
   max-height: 60vh; 
}

.history {
    background-color: silver;
    height: 100vh;
}

.information {
    background-color: whitesmoke;
}

.breadcrumb {
    height: 10vh;
}
.breadcrumb-info {
    background-color: #ffffff;
    color: #872657;
}

.footer {
    background-color: #872658;
    color: whitesmoke;
}

.footer h5 {
    color: whitesmoke;
}

.footer .nav-link {
    color: whitesmoke;
}

.footer .fab {
    color: whitesmoke;
}

/*-----------Images---------*/

.t-shirt {
    background-image: url(../img/t-shirt-mockup-featuring-a-bearded-man-with-sunglasses-posing-in-front-of-some-plants-2248-el1.png);
    background-color: seashell;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    
}

.Portarlington1 {
    background-image: url(../img/SpaStreetBridge.jpeg);
    background-color: seashell;
    background-position: center center; 
    background-repeat: no-repeat;
    min-height: 40vh;
    max-height: 60vh;
}